DocumentGeneration/Service References/LoggingService/Logging1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.140.4.71:83/Services/Logging/Logging.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" />
  <xs:element name="log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="logType" type="q1:LogType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="source" type="q2:Source" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="shortcode" type="q3:SHORTCODE" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="dl_nr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="logResult" nillable="true" type="q4:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logWithEnvironment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="logType" type="q5:LogType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="source" type="q6:Source" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="shortcode" type="q7:SHORTCODE" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="dl_nr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="env" type="q8:ENVIRONMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logWithEnvironmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Logging" minOccurs="0" name="logWithEnvironmentResult" nillable="true" type="q9:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>