DocumentGeneration/Service References/AuthService/AuthService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Authentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.140.4.71:83/Services/AuthenticationService/AuthService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExeptionMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastUsedTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanWrite" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsANF" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWBD" type="xs:boolean" />
      <xs:element minOccurs="0" name="PvsPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PvsUsername" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Settings" nillable="true" type="q1:ArrayOfKeyValuePairOfstringstring" />
      <xs:element minOccurs="0" name="Shortname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>